# 库导入

In [1]:
import numpy as np
import pandas as pd

# 数据导入

In [2]:
sheet = pd.read_csv('data.csv')
data = sheet.iloc[:, :].values

sheet.head()

,match_id,player1,player2,elapsed_time,set_no,game_no,point_no,p1_sets,p2_sets,p1_games,...,p2_break_pt_won,p1_break_pt_missed,p2_break_pt_missed,p1_distance_run,p2_distance_run,rally_count,speed_mph,serve_width,serve_depth,return_depth
0,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:00:00,1,1,1,0,0,0,...,0,0,0,6.000,7.840,2,95.0,BC,NCTL,ND
1,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:00:38,1,1,2,0,0,0,...,0,0,0,5.253,7.094,1,118.0,B,CTL,ND
2,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:01:01,1,1,3,0,0,0,...,0,0,0,13.800,19.808,4,120.0,B,NCTL,D
3,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:01:31,1,1,4,0,0,0,...,0,0,0,51.108,75.631,13,130.0,BW,CTL,D
4,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:02:21,1,1,5,0,0,0,...,0,0,0,0.649,0.813,1,112.0,W,NCTL,NaN

In [3]:
print(data)

[['2023-wimbledon-1301' 'Carlos Alcaraz' 'Nicolas Jarry' ... 'BC' 'NCTL'
  'ND']
 ['2023-wimbledon-1301' 'Carlos Alcaraz' 'Nicolas Jarry' ... 'B' 'CTL'
  'ND']
 ['2023-wimbledon-1301' 'Carlos Alcaraz' 'Nicolas Jarry' ... 'B' 'NCTL'
  'D']
 ...
 ['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'W' 'NCTL'
  'D']
 ['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'C' 'NCTL'
  'D']
 ['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'BW' 'NCTL'
  'ND']]

In [4]:
final_match = []

for i in data:
    if i[0] == '2023-wimbledon-1701':
        final_match.append(i)

final_match = np.array(final_match)
print(final_match)

[['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'W' 'CTL'
  'D']
 ['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'BW' 'NCTL'
  'ND']
 ['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'BW' 'NCTL'
  'ND']
 ...
 ['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'W' 'NCTL'
  'D']
 ['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'C' 'NCTL'
  'D']
 ['2023-wimbledon-1701' 'Carlos Alcaraz' 'Novak Djokovic' ... 'BW' 'NCTL'
  'ND']]

In [5]:
# 打印出所有的列名
category = dict()
for i in range(len(sheet.columns)):
    category[sheet.columns[i]] = i
print(category)

{'match_id': 0, 'player1': 1, 'player2': 2, 'elapsed_time': 3, 'set_no': 4, 'game_no': 5, 'point_no': 6, 'p1_sets': 7, 'p2_sets': 8, 'p1_games': 9, 'p2_games': 10, 'p1_score': 11, 'p2_score': 12, 'server': 13, 'serve_no': 14, 'point_victor': 15, 'p1_points_won': 16, 'p2_points_won': 17, 'game_victor': 18, 'set_victor': 19, 'p1_ace': 20, 'p2_ace': 21, 'p1_winner': 22, 'p2_winner': 23, 'winner_shot_type': 24, 'p1_double_fault': 25, 'p2_double_fault': 26, 'p1_unf_err': 27, 'p2_unf_err': 28, 'p1_net_pt': 29, 'p2_net_pt': 30, 'p1_net_pt_won': 31, 'p2_net_pt_won': 32, 'p1_break_pt': 33, 'p2_break_pt': 34, 'p1_break_pt_won': 35, 'p2_break_pt_won': 36, 'p1_break_pt_missed': 37, 'p2_break_pt_missed': 38, 'p1_distance_run': 39, 'p2_distance_run': 40, 'rally_count': 41, 'speed_mph': 42, 'serve_width': 43, 'serve_depth': 44, 'return_depth': 45}

In [6]:
one_serve_win_1,         one_serve_win_2       = dict(), dict()
one_serve_back_1,        one_serve_back_2      = dict(), dict()
one_serve_success_1,     one_serve_success_2   = dict(), dict()
two_serve_win_1,         two_serve_win_2       = dict(), dict()
two_serve_back_1,        two_serve_back_2      = dict(), dict()
break_oppotunity_pt_1,   break_oppotunity_pt_2 = dict(), dict()
break_pt_1,              break_pt_2            = dict(), dict()
continuous_win_1,        continuous_win_2      = dict(), dict()

In [7]:
for i in range(len(final_match)):
    one_serve_win_1[final_match[i][category['point_no']]] = (0 if i == 0 else one_serve_win_1[final_match[i - 1][category['point_no']]]) + (final_match[i][category['serve_no']] == 1 and final_match[i][category['serve']] == 1 and final_match[i][category['point_victor']] == 1)
    one_serve_back_1[final_match[i][category['point_no']]] = (0 if i == 0 else one_serve_back_1[final_match[i - 1][category['point_no']]]) + (final_match[i][category['serve_no']] == 1 and final_match[i][category['serve']] == 2 and final_match[i][category['point_victor']] == 1)
    one_serve_success_1[final_match[i][category['point_no']]] = (0 if i == 0 else one_serve_success_1[final_match[i - 1][category['point_no']]]) + (final_match[i][category['serve_no']] == 1)
    two_serve_win_1[final_match[i][category['point_no']]] = (0 if i == 0 else two_serve_win_1[final_match[i - 1][category['point_no']]]) + (final_match[i][category['serve_no']] == 1 and final_match[i][category['serve']] == 1 and final_match[i][category['point_victor']] == 1)
    two_serve_back_1[final_match[i][category['point_no']]] = (0 if i == 0 else two_serve_back_1[final_match[i - 1][category['point_no']]]) + (final_match[i][category['serve_no']] == 1 and final_match[i][category['serve']] == 2 and final_match[i][category['point_victor']] == 1)

TypeError: unhashable type: 'numpy.ndarray'